.header {
    min-height: 60px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ececec;
    @media screen and(min-width:768px) {
        height: 80px;
        padding-top: 0;
    }
  }
.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
    margin-left: 0;
    @media screen and(min-width: 768px) {
        margin-right: 87px;
    }
}
.logo-footer {
    margin: 0;
}
.logo-color {
    color: var(--title-text-color);
}
.logo-color-foot {
    color: #ffffff;
}
/*navigation*/
.nav {
    display: flex;
    align-items: center;
   }
.navig {
    @media screen and (max-width: 767px) {
        display: none;}
}
.nav-list {
    display: flex;
    }
.nav-list .item:not(:last-child) {
    margin-right: 50px;
}
.nav-link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
    transition: color var(--animation);
}
.nav-link.current {
    color: var(--accent-color);
}
.nav-link::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
    transition: opacity var(--animation);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
    opacity: 1;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: var(--accent-color);
}
/*contacts*/
.contacts {
    display: flex;
    margin-left: auto;
    @media screen and (max-width: 767px) {
        display: none;
        }
    @media screen and (min-width:768px) {
        display: block;
        align-items:center;
        }
    @media screen and(min-width:1200px) {
        display: flex;
        gap: 30px;
    }
}
.contacts .item {
    margin-bottom: 10px;
    }
.contacts-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    display: flex;
    gap: 10px;
    transition: color var(--animation), fill var(--animation);
  }
.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
/*hero*/
.hero-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    max-width: 360px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    @media screen and(min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
        width: 696px;
    }
}
.hero {
    align-items: center;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    @media screen and(min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        max-width: 1600px;
    }
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    // Mobile 
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img/headm@1x_res.png);
    
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img/headm@2x_res.png);
    }
    // Tablet 
    @media screen and (min-width: 481px) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img/headt@1x_res.png);
    
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/img/headt@2x_res.png);
      }
    }
    // Desktop
    @media screen and (min-width: 769px) {
          
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img/headd@1x_res.png);
    
      @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../images/img/headd@2x_res.png);
      }
    }
}
.btn-hero {
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
}